body {
    background-image: url("images/skybg.jpg");
}

h1 {
    text-align:center;
    color: rgb(218, 28, 170);
    font-family: Veranda;
}

h3 {
    color: rgb(90, 7, 90);
    font-family: Arial;
}

h5 {
    color: rgb(158, 235, 15);
    font-family: teletype;
}

p {
    color:rgb(28, 205, 236);
}